<div class="container">
  <div>
  <h6> Product name: <%= orderable.product.name %> </h6>
  <h6> Product quantity: <%= orderable.quantity %> </h6>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="btn btn-group">
        <%= link_to "Edit", edit_orderable_path(orderable), class: "btn btn-light btn btn-outline-dark" %>
        <%= button_to "Delete", orderable_path(orderable), method: :delete, class: "btn btn-dark" %>
      </div>
    </div>
  </div>
</div>