<div id="<%= dom_id project %>">
  <div class="container">
    <h2><%= project.name %></h2>
    <h4> Created by <%= project.user.full_name %></h4>
    <div>
      <%= project.description %>
    </div>
  </div>
</div>
