<div id="<%= dom_id project %>">
  <div class="container">
    <h2><%= project.name %></h2>
    <div>
      <h5><%= project.description %></h5>
    </div>
    <p> Created by <%= project.user.full_name %></p>
  </div>
</div>
