<div class="ms-4">
  <h1>Editing project</h1>

  <%= render "form", project: @project %>

  <br>

  <div>
    <%= link_to "Show this project", @project, class: "btn btn-light btn btn-outline-dark" %>
    <%= link_to "Back to projects", projects_path, class: "btn btn-light btn btn-outline-dark" %>
  </div>
</div>
