<% if current_user%>
  <li class="nav-item">
    <%= link_to "Updates", posts_path, class:'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Projects", projects_path, class:'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Storage", categories_path, class:'nav-link' %>
  </li>
<% end %>