<div class="container">
  <h1>New product</h1>

  <%= render "form", category: @category, product: @product %>

  <br>

  <div>
    <%= link_to "Back to category", category_path(@category), class: "btn btn-light btn btn-outline-dark" %>
  </div>
</div>
