<div class="container">
  <h1>New product</h1>

  <%= render "form", category: @category, product: Product.new(category: @category) %>

  <br>

  <div>
    <%= link_to "Back to category", category_path(@category) %>
  </div>
</div>
